<div class="container">
  <mat-form-field>
    <input type="text" placeholder="Category" aria-label="Category" matInput [formControl]="categoryCtrl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredCategories | async" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Amount" [(ngModel)]="spending.amount">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="spending.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="spending.description"></textarea>
  </mat-form-field>

  <button mat-button (click)="save()" color="primary">
    Save
  </button>
  <button mat-button (click)="reset()">
    Reset
  </button>
</div>
